@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f6ff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.nav-add-task {
  height: 70px;
  background-color: transparent;
}

.nav-container-add-task {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container-add-task i {
  color: #31315b;
}

.nav-add-task .nav-container-add-task {
  display: flex;
  align-items: center;
  height: 100%;
}

.add-todo-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-task-title {
  text-align: center;
  margin-bottom: 20px;
  color: #31315b;
}
.add-task-title:hover {
  transform: scale(1.1);
}

.add-todo-form {
  display: flex;
  flex-direction: column;
}

.add-todo-form label {
  margin-bottom: 5px;
}

.add-todo-form input,
.add-todo-form select {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-btn {
  padding: 10px;
  background-color: #0075ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #005ecb;
}
